<a href="https://colab.research.google.com/github/ppn101/Projects/blob/main/Sonar_Mine_Classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import numpy as np #To Create Numpy Arrays
import pandas as pd #To create Dataframe
import sklearn #Since i will be creating a Logistic regression model for binary classification hence, i will be using Sklearn for the same
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression #Here i have specified that i will be using logistic regression to solve this problem
from sklearn.metrics import accuracy_score #Since at the last i need to identify the accuracy of my model hence, i have imported the required function to check the same.

In [13]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Sonar data.csv", header= None) #Importing the file as a dataframe

In [14]:
df.head(3)

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
0,0.0200,0.0371,0.0428,0.0207,0.0954,0.0986,0.1539,0.1601,0.3109,0.2111,...,0.0027,0.0065,0.0159,0.0072,0.0167,0.0180,0.0084,0.0090,0.0032,R
1,0.0453,0.0523,0.0843,0.0689,0.1183,0.2583,0.2156,0.3481,0.3337,0.2872,...,0.0084,0.0089,0.0048,0.0094,0.0191,0.0140,0.0049,0.0052,0.0044,R
2,0.0262,0.0582,0.1099,0.1083,0.0974,0.2280,0.2431,0.3771,0.5598,0.6194,...,0.0232,0.0166,0.0095,0.0180,0.0244,0.0316,0.0164,0.0095,0.0078,R

In [20]:
df.shape #To identify the number of rows and columns present in the dataframe

(208, 61)

In [18]:
df.describe() #This will help with the statistical summary of the entire dataframe

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
count,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,...,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000,208.000000
mean,0.029164,0.038437,0.043832,0.053892,0.075202,0.104570,0.121747,0.134799,0.178003,0.208259,...,0.016069,0.013420,0.010709,0.010941,0.009290,0.008222,0.007820,0.007949,0.007941,0.006507
std,0.022991,0.032960,0.038428,0.046528,0.055552,0.059105,0.061788,0.085152,0.118387,0.134416,...,0.012008,0.009634,0.007060,0.007301,0.007088,0.005736,0.005785,0.006470,0.006181,0.005031
min,0.001500,0.000600,0.001500,0.005800,0.006700,0.010200,0.003300,0.005500,0.007500,0.011300,...,0.000000,0.000800,0.000500,0.001000,0.000600,0.000400,0.000300,0.000300,0.000100,0.000600
25%,0.013350,0.016450,0.018950,0.024375,0.038050,0.067025,0.080900,0.080425,0.097025,0.111275,...,0.008425,0.007275,0.005075,0.005375,0.004150,0.004400,0.003700,0.003600,0.003675,0.003100
50%,0.022800,0.030800,0.034300,0.044050,0.062500,0.092150,0.106950,0.112100,0.152250,0.182400,...,0.013900,0.011400,0.009550,0.009300,0.007500,0.006850,0.005950,0.005800,0.006400,0.005300
75%,0.035550,0.047950,0.057950,0.064500,0.100275,0.134125,0.154000,0.169600,0.233425,0.268700,...,0.020825,0.016725,0.014900,0.014500,0.012100,0.010575,0.010425,0.010350,0.010325,0.008525
max,0.137100,0.233900,0.305900,0.426400,0.401000,0.382300,0.372900,0.459000,0.682800,0.710600,...,0.100400,0.070900,0.039000,0.035200,0.044700,0.039400,0.035500,0.044000,0.036400,0.043900

In [21]:
df[60].value_counts() #This will help with grouping the values with their counts in the classifier row. Here M refers to Mine and R refers to Rock

M    111
R     97
Name: 60, dtype: int64

In [23]:
df.groupby(60).mean() #Since there is visible difference between the values observed for statistical metrics for metal and rock hence taking out mean served to be helpful here.

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
60,,,,,,,,,,,,,,,,,,,,,
M,0.034989,0.045544,0.050720,0.064768,0.086715,0.111864,0.128359,0.149832,0.213492,0.251022,...,0.019352,0.016014,0.011643,0.012185,0.009923,0.008914,0.007825,0.009060,0.008695,0.006930
R,0.022498,0.030303,0.035951,0.041447,0.062028,0.096224,0.114180,0.117596,0.137392,0.159325,...,0.012311,0.010453,0.009640,0.009518,0.008567,0.007430,0.007814,0.006677,0.007078,0.006024

In [28]:
#Since this is a supervised learning model hence i will be using both features and labels to train the model.
feature = df.drop(columns = 60, axis = 1) # This will create a dataframe without the last classified data column, axis has been set to 1 so as to instruct python to drop the column and not the row.
label = df[60]

In [27]:
label.head(3)

0    R
1    R
2    R
Name: 60, dtype: object

In [30]:
#First i will split the data of both feature and label into training data and test data.
#Then i will be selecting a test sample size to distribute it between feature_test and label_test.
#Then i will instruct the model to do the data segregation in terms of the label values i.e M & R.
#Then i will initialise the random_state to 1 in order to attain result repoducibility.

feature_train, feature_test, label_train, label_test = train_test_split(feature, label, test_size = 0.05, stratify = label, random_state = 1)

In [31]:
print(feature.shape, feature_test.shape, feature_train.shape) #I will run this code to get a sense of how the splitting has been done by python according to the instructions provided.

(208, 60) (11, 60) (197, 60)

In [32]:
model = LogisticRegression() #This will load the logistic regression model into the variable model

In [33]:
model.fit(feature_train, label_train)

LogisticRegression()

In [35]:
#On a general note - Accuracy will always be higher for training data as compared to test data since the model has already seen the training data.
#As the no. of data points increase, the model take more computational resources to construct.

feature_train_predict = model.predict(feature_train)
training_accuracy = accuracy_score(feature_train_predict, label_train)

In [36]:
#Now i will computre the accuracy of the model for the test data
feature_test_predict = model.predict(feature_test)
testing_accuracy = accuracy_score(feature_test_predict, label_test)

In [42]:
#Now i will print out the accuracy scores for train and test data in order to check model health and to establish if the model needs more tuning.
print(round(training_accuracy,2)*100)
print(round(testing_accuracy,2)*100)

84.0
73.0

In [43]:
#Now since the model is ready and we are getting a good value on accuracy for using this model hence, i will be now proceeding to constructing a prediction system.
input = (0.0731,0.1249,0.1665,0.1496,0.1443,0.2770,0.2555,0.1712,0.0466,0.1114,0.1739,0.3160,0.3249,0.2164,0.2031,0.2580,0.1796,0.2422,0.3609,0.1810,0.2604,0.6572,0.9734,0.9757,0.8079,0.6521,0.4915,0.5363,0.7649,0.5250,0.5101,0.4219,0.4160,0.1906,0.0223,0.4219,0.5496,0.2483,0.2034,0.2729,0.2837,0.4463,0.3178,0.0807,0.1192,0.2134,0.3241,0.2945,0.1474,0.0211,0.0361,0.0444,0.0230,0.0290,0.0141,0.0161,0.0177,0.0194,0.0207,0.0057)

#Converting this data from a list into an array for faster processing
input_array = np.asarray(input)

#Now i will reshape this data since i am going to predict for 1 instance only
input_reshape = input_array.reshape(1,-1)

predict_2 = model.predict(input_reshape)
print(predict_2)

#Creating a conditional statement to prompt the prediction.

if predict_2[0] == "R":
  print("It was a Rock")
else:
  print("It was a Mine")

['M']
It was a Mine